$white: #f1f1f1;
$cyan: #62b8f4;
$font:'Roboto', sans-serif;
$grey: #6f6f6f;

p,h1,h2,h3,h4,h5,a,button {
	font-family: $font;
	color: $grey;
}
body {
	background-color: $white;
}
img {
	display: block;
}

.revive {
	display: none;
}
.destroy {
	display:block;
}

////////////////////////////////Top-bar/////////////////////////////////////
.hotbar {
	background-color: $cyan;
}
.title {
	color: $white;
	padding-top: 29px;
	font-size: 20px;
	text-align: center;
}
/////////////////////////Main Image/////////////////////////////////////////
.image-button-arrow {
	position: relative;
	top: 22%;
	width: 100%;
	height: auto;
}
.BG {
	position: relative;
}
.image-button {
	padding: 10px 32px;
	background-color: $cyan;
	color: $white;
	font-size: 24px;
	position: absolute;
	top: 85%;
	left: 45%;
}
.image-arrow {
	color: $white;
	position: absolute;
	top: 92%;
	left: 49%;
}



///////////////////////////////////Description below image////////////////////////
.description {
	color: #828282;
	font-weight: 500;
}

.description-box {
	width: 60%;
	text-align: center;
	margin: 15px auto;
}

@media screen and (max-device-width: 500px) {
	.image-button-arrow  {
		display: none;
	}
	.description-box {
		width: 90%;
	}
}
///////////////////////////////Ticket Selection///////////////////////////////////

.select-arrow {
	position:absolute;
	left: 85%;
    z-index: 1;
    top: -20%;
    pointer-events:none;
}

.left-class,
.right-class {
	border: 2px solid $grey;
			h3,h2,p {
				font-family: $font;
			}
}

.left-class {
	width: 80%;
	border-right: none;
			h3,h2,p {
				margin-left: 10px;
				margin-top: 10px;
			}
			h3 {
				font-size: 20px;
			}
			h2 {
				font-size: 35px;
			}
			p {
				font-size: 11px;
			}
}
.right-class {
	width: 20%;
	border-left: none;
	text-align: center;
	padding: 13px 0px;
			p {
				font-size: 20px;
				margin-bottom: 0px;
			}
}

.left-price,
.right-price {
	padding: 0px;
	border: none;
	background: $cyan;
			p,h3 {
				margin-top: 10px;
				color: $white;
			}
			p {
				font-size: 10px;
				margin-bottom: 16px;
			}
			h3 {
				font-size: 20px;
			}
}

.counter-arrow {
	color: $grey;
}

.divide {
	margin-top: 20px;
	margin-bottom: 20px;
}
.selector {
	width: 100%;
}


@media screen and (max-device-width: 991px) {
	.left-price {
		width: 70%;
	}
	.right-price {
		width: 30%;
		padding: 0px;
	}
}

@media screen and (max-device-width: 385px) {
	.right-class {
		padding: 21px 0px;
	}
	.right-price {
		width: 30%;
		padding: 0px;
	}
}

//////////////////////////////Price-Total & Payment Method////////////////////////////

.price-title {
	font-size: 20px;
			margin: 2px;
			margin-left: 5px;
			margin-top: 0.5rem;
}

.payment-selection {
	font-size: 20px;
	border: 1px solid $grey;
	padding: 10px 0px;
	text-align:center;
		
}
.active {
	background-color: $grey;
	color: $white;
}
.mini-box {
	font-size: 18px;
}

///////////////////////////////Email///////////////////////////////////////////////////

.email-title {
	text-align: center;
	font-size: 20px;
}


.blending {
	width: 100%;
	font-size: 20px;
	background-color: $white;
	border: none;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	border-radius: none;
		input::placeholder {
			font-weight: 100;
		}
}


///////////////////////////Checkbox/////////////////////////////////////////////////////

/* Customize the label (the checkbox-container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 35%;
  height: 25px;
  width: 25px;
  border: 1px solid $grey;
}


/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media screen and (max-device-width: 1199px) {
	.checkmark {
		left: 32%;
	}
}
@media screen and (max-device-width: 991px) {
	.checkmark {
		left: 25%;
	}
}

@media screen and (max-device-width: 767px) {
	.checkmark {
		left: 15%;
	}
}
@media screen and (max-device-width: 475px) {
	.checkmark {
		left: 0%;
	}
}


///////////////////////////////Submit-Button/////////////////////////////////////////////

.submit-button {
	text-align:center;
		button {
			background-color: $cyan;
			color: $white;
			border: none;
			padding: 10px;
			text-align: center;
			padding-left: 150px;
			padding-right: 150px;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		button:hover {
			opacity: 0.5;
			cursor: pointer;
		}
}


@media screen and (max-device-width: 767px) {
	.submit-button {
			button {
				padding: 2% 10%;
				width: 100%;
			}
	}
}


//////////////////////////////Footer///////////////////////////////////////////////

.footer {
	background-color: $grey;
}


.right-footer {
		p {
			color: $white;
			text-align: right;
			font-size: 13px;
		}
}

@media screen and (max-device-width: 768px) {
	.right-footer {
		width: 50%;
	}
	.left-footer{
		width: 50%
	}
}

//////////////////////////////////////////////////////////////////////////////////////

input:focus {
    outline:none;
    box-shadow:none;
}

input,
textarea,
select {
	outline: 0;
}
select::-ms-expand {
    display: none;
}
select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix(){
	.ui-select{border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box; position: relative; overflow: hidden;}
  .ui-select select { width: 110%; background-position: right 30px center !important; border: none !important;}
}

